@model ContactViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row ">
    <div class="col-5 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Mail</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Gönderen Bilgileri</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gönderen Adı</td>
                                <td>@Model.Name</td>
                            </tr>
                            <tr>
                                <td>E-posta Adresi</td>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <td>Gönderim Tarihi</td>
                                <td>@Model.Date</td>
                            </tr>
                     
                        
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="col-7 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Mail İçeriği
                    <a asp-controller="AdminHome" class="btn btn-info float-right">Geri</a>
                </h4>
                <div class="table-responsive">
                    <table class="table">
                  
                        <tbody>
                            <tr>
                                <td>
                                    <p>@Model.Content</p>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
