<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 footer-item-logo">
                <a href="index-2.html" class="logo-footer"><img src="~/fitmax/assets/img/footer-logo2.svg" alt="logo"></a>
                <p>Sağlıklı ve güçlü bir yaşam için buradayız.</p>
           
            </div>
            <div class="col-sm-6 col-lg-3 footer-item footer-item-list">
                <h3>Linkler</h3>
                <ul class="footer-link">
                    <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li><a asp-controller="Products" asp-action="Index">Ürünler</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Giriş</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Üyelik</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-item">
                <h3>Bizimle İletişime Geçin</h3>
                <ul class="footer-cont">
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:crossFit@gmail.com">CrossFit@gmail.com</a></li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="contacts.html">İstanbul/Türkiye</a></li>
                    <li><a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                    <li><a target="_blank" href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                    <li><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i>Youtube</a></li>
                    <li><a target="_blank" href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i>İnstagram</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-item">
                <h3>Çalışma Saatleri</h3>
                <ul class="footer-blog">         
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp; Tüm Hafta: 08:00 - 22:00</li>
                    
                </ul>
            </div>
        </div>
        
    </div>
</footer>
