
@{
    ViewData["Title"] = "CrossFit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="s-about" style="margin-top:-60px">
	<div class="container">
		<img class="about-effect-tringle" src="~/fitmax/assets/img/tringle-about-top.svg" alt="img">
		<div class="row about-row">
			<div class="col-md-5 about-img-col">
				<div class="about-img-cover">
					<div class="about-img-1">
						<img class="about-img-effect-1" src="~/fitmax/assets/img/square-yellow.svg" alt="img">
						<img class="about-img-effect-2" src="~/fitmax/assets/img/group-circle-2.svg" alt="img">
						<img src="~/fitmax/assets/img/home2-program-6.jpg" alt="img">
					</div>
					<div class="about-img-2">
						<img src="~/fitmax/assets/img/gall-9-min.jpg" alt="img">
					</div>
				</div>
			</div>
			<div class="col-md-7 about-info-cover" >
				<h2 class="title-decor" style="margin-top:-200px"> <span>CROSSFIT</span></h2>
				<div class="text">
					<p>
						CrossFit, hem fiziksel sağlığı iyileştirmek hem de atletik performansı artırmak isteyen birçok kişi için popülerdir. Ancak, yüksek yoğunluklu doğası nedeniyle, CrossFit'e başlamadan önce uygun formu ve tekniği öğrenmek ve uygun bir antrenman düzenine başlamak önemlidir. Bu nedenle, başlamadan önce bir CrossFit antrenörü veya uzmanı ile çalışmak faydalı olabilir.

						
					</p>
					<p>CrossFit, dünya genelinde birçok merkezde ve toplulukta bulunabilir. Ayrıca, birçok online kaynak ve videolar, CrossFit antrenmanları hakkında bilgi edinmenize yardımcı olabilir. Ancak, herhangi bir yeni egzersiz programına başlamadan önce bir sağlık uzmanıyla veya doktorunuzla konuşmanız her zaman önemlidir.</p>
				</div>
				<ul class="about-cont">
					<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:fitmax@gmail.com">fitmax@gmail.com</a></li>
				</ul>
				<ul class="social-list">
					<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- ============ S-ABOUT-PROGRAM END ============ -->
