
@{
    ViewData["Title"] = "FreeExercise";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="s-about" >
	<div class="container">
		<img class="about-effect-tringle" src="~/fitmax/assets/img/tringle-about-top.svg" alt="img">
		<div class="row about-row">
			<div class="col-md-5 about-img-col">
				<div class="about-img-cover">
					<div class="about-img-1">
						<img class="about-img-effect-1" src="~/fitmax/assets/img/square-yellow.svg" alt="img">
						<img class="about-img-effect-2" src="~/fitmax/assets/img/group-circle-2.svg" alt="img">
						<img src="~/fitmax/assets/img/gall-5-min.jpg" alt="img">
					</div>
					<div class="about-img-2">
						<img src="~/fitmax/assets/img/bg-2.jpg" alt="img">
					</div>
				</div>
			</div>
			<div class="col-md-7 about-info-cover">
				<h2 class="title-decor" style="margin-top:-200px">SERBEST <span>ÇALIŞMA</span></h2>
				<div class="text">
					<p>
						Freeworkout, vücut geliştirmenin önemli bir parçası olan egzersizleri ve antrenmanları içeren ve herhangi bir fitness salonu veya spor malzemesine ihtiyaç duymadan evde veya açık hava ortamlarında uygulanabilen bir yaklaşımdır. Freeworkout, kişisel gelişim, sağlık ve estetik amaçlar için popüler bir seçenektir ve birçok kişi için erişilebilir bir fitness yöntemi sunar.

						
					</p>
					<p>
						Freeworkout, ağırlık ekipmanlarını kullanmaksızın kendi vücut ağırlığınızı kullanarak çalıştığınız bir egzersiz türüdür. Bu, şınav, mekik, plank, barfiks, squat gibi temel vücut ağırlığı egzersizlerini içerir. Bu egzersizler, kas gelişimini teşvik eder, dayanıklılığı artırır ve vücut kompozisyonunu şekillendirmeye yardımcı olur.

					</p>
					<p>
						

						Freeworkout'un avantajlarından biri, herhangi bir yerde yapılabilmesidir. Bu, sporcuların spor salonuna gitmeleri veya özel bir ekipmana yatırım yapmaları gerekmeden düzenli egzersiz yapabilmeleri anlamına gelir. Ayrıca, freeworkout, fitness seviyesine uygun olarak özelleştirilebilir ve her yaş ve fitness seviyesinden insanlar için uygundur.
					</p>
				</div>
				<ul class="about-cont">
					<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:fitmax@gmail.com">fitmax@gmail.com</a></li>
				</ul>
				<ul class="social-list">
					<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- ============ S-ABOUT-PROGRAM END ============ -->
