
@{
    ViewData["Title"] = "PrivateTrainer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="s-about">
	<div class="container">
		<img class="about-effect-tringle" src="~/fitmax/assets/img/tringle-about-top.svg" alt="img">
		<div class="row about-row">
			<div class="col-md-5 about-img-col">
				<div class="about-img-cover">
					<div class="about-img-1">
						<img class="about-img-effect-1" src="~/fitmax/assets/img/square-yellow.svg" alt="img">
						<img class="about-img-effect-2" src="~/fitmax/assets/img/group-circle-2.svg" alt="img">
						<img src="~/fitmax/assets/img/home2-program-4.jpg" alt="img">
					</div>
					<div class="about-img-2">
						<img src="~/fitmax/assets/img/gall-7-min.jpg" alt="img">
					</div>
				</div>
			</div>
			<div class="col-md-7 about-info-cover">
				<h2 class="title-decor" style="margin-top:-130px">ÖZEL <span>EĞITMENLER</span></h2>
				<div class="text">
					<p>
						Vücut geliştirme, hem fiziksel sağlığı hem de estetik görünümü iyileştirmek amacıyla yapılan disiplinli bir egzersiz ve beslenme rejimidir. Bu spor dalı, vücut kaslarını geliştirme, güç kazanma ve vücut kompozisyonunu şekillendirme amacı taşır. Vücut geliştirme, antrenmanların yanı sıra beslenme, dinlenme ve yaşam tarzı faktörlerini de içeren kapsamlı bir yaklaşımı içerir.

						
					</p>
					<p>
						Vücut geliştirme, katı bir disiplin gerektiren bir spor dalıdır ve sporcular, antrenmanlarını, egzersiz programlarını ve beslenme düzenlerini dikkatlice planlarlar. Kasların büyümesi ve güçlenmesi, ağırlık kaldırma ve direnç egzersizleriyle elde edilir. Vücut geliştirme egzersizleri, özel olarak hedeflenen kas gruplarını izole etmek ve büyütmek için tasarlanmıştır.

						
					<p>
						

						Beslenme, vücut geliştirmenin önemli bir yönüdür. Protein, karbonhidrat, yağ, vitaminler ve mineraller açısından dengeli bir diyet, kas büyümesini destekler ve yağ kaybını teşvik eder. Ayrıca, vücut geliştirme sporcuları sık sık yüksek kalorili yiyeceklerden kaçınır ve protein içeriği yüksek gıdaları tercih ederler.
					</p>
				</div>
				<ul class="about-cont">
					<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:fitmax@gmail.com">fitmax@gmail.com</a></li>
				</ul>
				<ul class="social-list">
					<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
				<div class="btn-form-cover mt-5">

					<a asp-action="Trainers" asp-controller="Home" class="btn">Tüm Eğitmenler</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ============ S-ABOUT-PROGRAM END ============ -->
