@model PasswordRessetViewModel
@{
    ViewData["Title"] = "PasswordReset";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="s-contacts" style="background-image: url(assets/img/bg-contacts.svg);margin-top:-100px!important">
	<div class="container">
		<h2 class="title-decor">Şifre <span>Yenileme</span></h2>
		<div class="row">
			<div class="col-md-3 col-lg-3">
			</div>
			<div class="col-md-6 col-lg-6">
				<form asp-action="PasswordReset" asp-controller="Account" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>				
					<ul class="form-cover">
						<li class="inp-name">
							<label>Kullanıcı Adı</label>
							<input asp-for="UserName" type="text">
							<span asp-validation-for="UserName" class="text-danger"></span>
						</li>
						<li class="inp-email">
							<label>Email</label>
							<input asp-for="EMail" type="text">
							<span asp-validation-for="EMail" class="text-danger"></span>
						</li>

					</ul>					

					<div class="btn-form-cover">

						<button id="#submit" type="submit" class="btn">Gönder</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}