@model PasswordRessetViewModel
@{
    ViewData["Title"] = "PasswordNewNormal";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="s-contacts" style="background-image: url(assets/img/bg-contacts.svg);margin-top:-100px!important">
	<div class="container">
		<h2 class="title-decor">Şifre <span>Yenileme</span></h2>
		<div class="row">
			<div class="col-md-3 col-lg-3">
			</div>
			<div class="col-md-6 col-lg-6">
				<form asp-action="PasswordNewNormal" asp-controller="Account" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<ul class="form-cover">
						<li class="inp-name">
							<label asp-for="OldPassword" class="control-label"></label>
							<input asp-for="OldPassword" class="form-control" />
							<span asp-validation-for="OldPassword" class="text-danger"></span>
						</li>
						<li class="inp-name">
							<label asp-for="Password" class="control-label"></label>
							<input asp-for="Password" class="form-control" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</li>
						<li class="inp-name">
							<label asp-for="ConfirmPassword" class="control-label"></label>
							<input asp-for="ConfirmPassword" class="form-control" />
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</li>

					</ul>

					<div class="btn-form-cover">

						<button id="#submit" type="submit" class="btn">Gönder</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}


